---
import { Image } from "astro:assets";
import me from "../assets/me.svg"
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="justify-center">
      <h1 class="text-2xl">A bit about me</h1>
      <div class="p-4"></div>
      <Image alt="stickman figure representing an image of the creator of the website" class="w-60" src={me} />
      <span>
        I thought about making a inconceivable portfolio!! Then I realized it's
        1:14am, and I have work tomorrow. At any rate, i'm a computer
        engineering graduate who fell in love with the level of ability to
        create something from almost nothing with software. This passion grew
        rapidly through my personal projects and experiences at companies like
        Shopify, Intact, and goeasy. I've also dabbled in startups - one of the
        most difficult but fulfilling experiences in my life.
        <span class="hover:text-white text-black hover:cursor-pointer">
          <span class="italic"> Note to self:</span> Make sure to finish
          this section before you start balding.
        </span>
      </span>
    </div>
</Layout>
