---
import Layout from "@layouts/Layout.astro";

const randomPercentage = Math.floor(Math.random() * 99) + 1;
---

<Layout>
  <body>
    <h1 class="text-2xl">Howdy 88</h1>
    <div class="p-4"></div>
    <div>
      My name's Laxit. I'm a software engineer who likes to write code with
      bare, ungloved, hands. I also fancy neovim, books, and working out{" "}
      <span class="italic">({randomPercentage}% of the time)</span>. Currently, I'm working at {
        ""
      }
      <span class="line-through"> Spotify</span> Shopify - helping improve the POS
      system.
    </div>
  </body>
</Layout>
