---
const links = [
  { name: "home", url: "/" },
  // { name: "projects", url: "/projects" },
  { name: "about", url: "/about" },
  { name: "words", url: "/words" },
];
---

<ul class="flex space-x-4 pb-20">
  {
    links.map((link) => (
      <li class="hover:cursor-pointer">
        <a href={link.url}>{link.name}</a>
      </li>
    ))
  }
</ul>
